#b {
color: black!important ;
background-color: white!important;
width: 100px!important;
opacity: 0.5!important;
}

#b:hover{
color: white!important;
background-color: black!important;
}
.modal-title{
	color: #000;
	font-family: Trebuchet MS, sans-serif;
}
#c{
	color: #000;
	font-family: Trebuchet MS, sans-serif;
}
#bt {
  border: 0;
  padding: 10px;
  width: 200px;
  height: 50px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  color: black;
  	font-family: Trebuchet MS, sans-serif;
  	opacity: 0.5;
}
#bt2 {
  border: 0;
  padding: 10px;
  width: 200px;
  height: 50px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  float: left;
  background-color: white;
  color: black;
  	font-family: Trebuchet MS, sans-serif;
  	opacity: 0.5;
}
#bt:hover{
	background-color: black;
	color: white;
}
#bt2:hover{
	background-color: black;
	color: white;
}
#but{
  width: 500px;
  height: 200px;
}