.input-group-prepend span{
width: 50px;
background-color: #000;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}


button {
color: black!important ;
background-color: white!important;
width: 100px!important;
opacity: 0.5!important;
}

button:hover{
color: white!important;
background-color: black!important;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
