html,body{
background-image: url('img/bund.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Trebuchet MS', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: #fff !important;
opacity: 0.9;

}
label{
	color:  #000;
}
h3{
	text-align: center;
	color:#000;
}
#b {
color: black!important ;
background-color: white!important;
width: left;
}

#b:hover{
color: white!important;
background-color: black!important;
}
#foto{
color: black!important ;
background-color: white!important;
}